<h3>Contact</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fugit optio quibusdam aut doloribus nemo neque doloremque
	quasi quidem, autem odio vitae omnis. Assumenda et ipsam voluptatibus aperiam quidem? Quas.</p>
<ul class='contact-information'>
	<li>
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<a href="mailto:test@email.com">Test@email.com</a>
	</li>
	<li>
		<i class="fa fa-phone" aria-hidden="true"></i>
		<p>06-12345678</p>
	</li>
	<li>
		<i class="fa fa-map-marker" aria-hidden="true"></i>
		<p>123 Fake Street</p>
	</li>
</ul>
<div class="social">
	<a href="#" class="social-icon">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
	<a href='#' class="social-icon">
		<i class="fa fa-youtube-play" aria-hidden="true"></i>
	</a>
	<a href='#' class="social-icon">
		<i class="fa fa-tumblr" aria-hidden="true"></i>
	</a>

</div>
<button class='dark link' id="home-btn">Go Back</button>