@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("woff2");
  font-weight: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("woff2");
  font-weight: bold; }
/*
===================================
	Variables
===================================
*/
/* Sizing */
/* Colours */
/*
===================================
	Reset
===================================
*/
html,
* {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: normal;
  color: #333; }

object {
  width: 100%;
  height: 100%; }

html#main {
  width: 100vw;
  height: 100vh; }

/*
===================================
	Hero Section
===================================
*/
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: url("../img/hero-background.jpg") teal;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

div#content-box {
  min-height: 50%;
  width: 500px;
  padding: 25px;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  div#content-box h3 {
    font-size: 2em; }
  div#content-box img.profile {
    border-radius: 50%;
    margin: 25px 0; }

/*
===================================
	Social Icons
===================================
*/
.social-icon {
  position: relative;
  display: inline-block;
  margin: 25px;
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 2em; }
  .social-icon > i {
    transition: 0.2s ease-out; }
  .social-icon:hover > i {
    transition: 0.2s ease-out; }
  .social-icon:hover .fa-twitter {
    color: #1da1f2; }
  .social-icon:hover .fa-youtube-play {
    color: #ff0000; }
  .social-icon:hover .fa-tumblr {
    color: #35465c; }
  .social-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*
=================
  Buttons
=================
*/
button {
  border-style: none;
  background: none;
  font-size: 1em;
  font-weight: bold;
  padding: 6.25px 12.5px;
  margin-top: 25px;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.1s 0.01s ease-out; }
  button.dark {
    border: 2px solid #333;
    color: #333; }
    button.dark:hover {
      background-color: #333;
      color: white; }
  button.primary {
    border: 2px solid teal;
    color: teal; }
    button.primary:hover {
      background-color: teal;
      color: white; }
  button:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    transition: 0.1s 0.01s ease-out; }
  button.link:hover {
    cursor: pointer; }
  a button:hover {
    cursor: pointer; }

/*
===================================
	Links
===================================
*/
a {
  text-decoration: none;
  color: teal; }
  a:not(.social-icon):hover {
    text-decoration: underline; }
  a:not(.social-icon) i {
    text-decoration: none;
    color: teal; }

/*
===================================
	Page Transition
===================================
*/
.new-page {
  animation: 0.6s cool3d ease-in-out forwards; }

@keyframes cool {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes cool3d {
  0% {
    transform: rotate3d(0, 1, 0, 0deg); }
  50% {
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    transform: rotate3d(0, 1, 0, 0deg); } }
/*
===================================
	Contact Information
===================================
*/
ul.contact-information {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  list-style: none; }
  ul.contact-information li {
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    ul.contact-information li i {
      font-size: 1.6em;
      width: 1.6em; }

@media screen and (max-width: 550px) {
  div#content-box {
    width: 75vw; }

  .social-icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 10px;
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */
